/* start main Rulez*/
body {
    background-color:#FAFAFA ;
    font-size: 16px;
}

/* End main Rulez */

/* start Login Form */


/* End Login Form */

/* start Login Form */
.login {
    width: 300px;
    margin: 100px auto;
}
.login h4 {
    color: #888;
}
.login input {
    margin-bottom: 10px;
}
.login .form-control {
    background-color:#EAEAEA ;
}
.login .btn {
    background-color: #008dde;
}



/* End Login Form */

.dropdown-item {
    color: white;
}
div .collapse .navbar-collapse {
    display: flex;
}
.nav-link .dropdown-toggle {
align-items: right;
color: white;
}


.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-brand {
    font-size: 1em;
}

div> li > a:first-of-type , .dropdown-item {
    color:white;
}
/* start member page*/ 

h1 {
    font-size: 2.5rem;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}


input.form-control{
    position: relative;
}
span#pass-ast{
    font-size: 20px;
    position: absolute;
    right:0;
    top: 6px;
}
span.any-ty{
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 6px;
}
@media (min-width: 1200px) {
#add-form{
    max-width: 408px;
    margin: 0 auto;
}
}
@media (min-width: 684px) {
#add-form{
    max-width: 369px;
    margin: 0 auto;
}

}
.rounded-lg {
    border-radius:.5rem !important;
}
a:not(.btn) {
    text-decoration: none;
  }

  
/* Start Table */
.main-table {
    -webkit-box-shadow: 0 3px 10px #CCC;
    -moz-box-shadow:  0 3px 10px #CCC;
    box-shadow:  0 3px 10px #CCC;
}
.main-table td {
    background-color: #FFF;
    vertical-align: middle !important;
}

.main-table thead tr:first-child td {
    background-color: #333;
    color:#FFF; 
}

.fa-edit {
    position: relative;
    left: -15px;
}
.fa-trash-alt {
    position: relative;
    left: -9px;
}
/* Start Text Button */
.btn-edit {
    position: relative;
    left: -4px;
    top: 1px;
    font-size: .95rem;
}
.btn-delt {
    position: relative;
    left: 6px;
    top: 1px;
}
/* End Text Button */
.btn-sm {
    vertical-align: middle !important;
}
.home-stats .row .stat {
    color: #FFF;
    border : 1px solid #CCC; 
    padding: 15px;
    border-radius: 10px;
  }
.home-stats .row .stat a {
color:#FFF;
  }
.home-stats .row .stat a:hover {
text-decoration: none;
  }

.home-stats .row .stat span {
    display: block;
    font-size: 60px;
  }

.home-stats .row .st-members {
    background-color: #3498db;
}
.home-stats .row .st-pending {
    background-color: #c0392b;
}
.home-stats .row .st-items {
    background-color: #d35400;
}
.home-stats .row .st-comments {
    background-color: #8e44ad;
}


.latest {
    margin-top: 50px;
}

.latest-users {
    margin-bottom: 0;

}
.card-body  {
    padding: 12px;
}
.card-header {
    color: #959595;
    font-weight: bold;
}
.categories .card-header .fa-edit {
    position: inherit;
}
/* Start li items in Dashboard Page */

.latest-users li {
    padding: 4px;
    overflow: hidden;
}
.latest-users li:nth-child(odd) {
    background: #EEE;
}

/* End li items in Dashboard Page */

/*------------------------------*/

/* Start Dashbord Edit Button */

/* Main Button*/
.latest-users .btn-editBox {
width: 63px;
height: 24px;
}
/* Button Icon */
.latest-users .btn-iconEdit {
    position: relative;
    left: -4px;
    top: -9px;
    font-size: 11px;
}
/* Button Text */
.btn-textEdit {
    font-size: 14px;
    position: relative;
    top: -8px;
    left: 5px;
}

/* End Dashboard Edit Button */

/*-------------------------------*/

/* Start Dashboard Delete Button */

/* Main Button */
.btn-deltBox{
    width: 81px;
    height: 24px;
}
/*Button Icon */

.btn-iconDelt {
    position: relative;
    left: -4px;
    top: -5px;
    font-size: 11px;
}
/*Button Text */
.btn-textDelt{
position: relative;
top: -4px;
left: -1px;  
font-size: 14px;
}

/* End Dashboard Delete Button */
/*------------------------------*/
/*Start Category Page*/
/*h3 In category*/
.categories .cat h3 {
    margin: 0;
    cursor: pointer;
    color: #6A6A6A;
    font-weight: bold;
}
/*p in Category*/
.categories .cat .full-view p {
    margin: 10px 0 10px;
    color: #707070;
}

/*hr in Category*/
.categories .cat:last-of-type ~ hr {
    display:none;
    
}
.categories hr {
    margin-top: 0;
    margin-bottom:0;
}
/*visiblity in Category*/
.categories .cat .visiblity {
    background: #d35400;
    color: #FFF;
    padding:2px 6px;
    margin-right:10px;
    border-radius:5px;
}
/*commenting in Category*/
.categories .cat .commenting {
    background: #2c3e50;
    color: #FFF;
    padding:2px 6px;
    margin-right:10px;
    border-radius:5px;
}
/*advertises in Category*/
.categories .cat .advertises {
    background: #c0392b;
    color: #FFF;
    padding:2px 6px;
    margin-right:10px;
    border-radius:5px;
}
/*Edit Butto In Categories Page */
.btn-editIcon-Cate {
    left: -2px;
    font-size: 11px;
    top: -1px;
    
}
/*Categories Postion */
.categories .cat {
    padding: 15px;
    position: relative;
    overflow: hidden;
}
/*Postion Of  Button Edit & Delete*/
/*Before Hover */
.categories .cat .hiddin-button {
    -webkit-transition:all .5s es=ase-in-out;
    -moz-transition:all .5s es=ase-in-out;
    transition: all .5s ease-in-out;
    position:absolute;
    top:15px;
    right:-160px;
}
/*After Hover */
.categories .cat:hover .hiddin-button {
    right:10px;
}
.categories .cat:hover  {
    background-color: #EEE; 
}
/**/
.categories .option a {
    color: #888;
    text-decoration: none;
}
.categories .option .active {
    color: #F00;
    
}
.categories .option span {
    color: #888;
    cursor: pointer;
    
}

/*End Category Page*/
/*Start Items Page*/

/*1-Select Box Plugin*/
.selectboxit-container {
    width:100%;
  }
.selectboxit-container .selectboxit {
    width: 100%;
  }
/*1-Select Box Plugin*/
/*2-Space In Button For Page Items*/
.Space-boutton-itemPage {
    margin-bottom: 100px;
}
.selectboxit-container * {
    font: 1rem Helvetica, Arial;
} 
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
    height: 38px;
    line-height:38px;
}
/*2-Space In Button For Page Items*/

/*End Items Page*/

  
/* End Dashboard Page */
/* End Table */
