/* start main Rulez*/
body {
    background-color:#FAFAFA ;
}

/* End main Rulez */

/* start Login Form */


/* End Login Form */

/* start Login Form */
.login {
    width: 300px;
    margin: 100px auto;
}
.login input {
    margin-bottom: 10px;
}
.login .form-control {
    background-color:#EAEAEA ;
}
.login .btn {
    background-color: #008dde;
}

/* End Login Form */